# python
__pycache__/
*.py[cod]
# data
# checkpoints
wandb/
src/ext/jepa3d/locate3d_data/dataset/*.json
src/ext/jepa3d/locate3d_data/dataset/*.json
.venv/
.test-env/
.env/
build/
dist/
*.egg-info/
*.egg-info
src/ADLR.egg-info
*.egg-info/
/test-env/
shapenet_data/
shapenet_extracted/
pointclouds/
*.obj
*.ply
*.npy
*.npz
*.zip
checkpoints/pre_point2vec-epoch.799-step.64800.ckpt